body {
    margin: 30px;
    font-family: 'Syne', sans-serif;
}

.main {

}

#header {

}

.footer {
    position: fixed;
    bottom: 10px;

}

.menu {
    display: inline-flex;
    float: right;
    position: fixed;
    top: 0;
    right: 20px;
}

.menu ul{
    list-style: none;
}

.menu li{
    display: inline-block;
    padding: 14px 16px;
    color: #1c8aff;
    font-size: 16px;
}

.menu a{
    color: #1c8aff;
    font-size: 16px;
    text-decoration: none;
}

.logo {
    display: inline-block;
}

.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    grid-column-gap: 1.5em;
    grid-row-gap:  3em;

}

.projects img {
    width: 100%;
    margin-bottom: 0.5em;
    transition: all 0.3s;
}

.projects img:hover {
    transform: scale(1.1);
    cursor: url('./pencil.cur'), auto;
}

.pagination {
    display: flex;
    justify-content: space-between;
}

.pagination span{
    color:  #999;
}

.sideNav {
    width: 0;
    height: 100%;
    position: sticky;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden;
    padding-top: 70px;
    transition: 1s;
}

.sideNav .closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
}

#mainProjects {
    transition: margin-left .5s;
    padding: 20px;
}
