body {
    margin: 30px;
    font-family: 'Syne', sans-serif;
}

a {
    text-decoration: none;
}

.main {
    margin: 50px;
    margin-left: 200px;
    margin-top: 180px;
    max-width: 1000px;
}

.footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#header {
    /* margin-bottom: 180px; */
}

.menu {
    display: inline-flex;
    float: right;
    position: absolute;
    top: 0;
    right: 20px;
}

.menu ul{
    list-style: none;
}

.menu li{
    display: inline-block;
    padding: 14px 16px;
    color: #1c8aff;
    font-size: 16px;
}

.menu a{
    color: #1c8aff;
    font-size: 16px;
    text-decoration: none;
}

.logo {
    display: inline-block;
    position: fixed;
    top: 20px;
}

.pagination {
    display: flex;
    justify-content: space-between;
}

.pagination span{
    color:  #999;
}

.projects {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    grid-column-gap: 1.5em;
    grid-row-gap:  3em;
}

.projects img {
    width: 100%;
    margin-bottom: 0.5em;
    transition: all 0.3s;
}

.projects img:hover {
    transform: scale(1.05);
    cursor: url('./pencil.cur'), auto;
}

/* .centerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
} */

figcaption {
    font-family: 'Syne', sans-serif;
    color: #999999;
    font-size: 16px;
    text-decoration: none !important;
    background-image: none !important;
}

@media screen and (max-width: 1200px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}



@media screen and (max-width: 800px) {
  body {
    margin: 0;
  }

  .menu {
    float: none;
    position: static;
    text-align: center;
    right: 0px;
  }

  .menu ul {
    padding-inline-start: 0;
  }

  .centerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 0;
    align-items: center;
  }

  .logo {
    position: absolute;
    top: 60px;
  }

  .projects {
    margin-top: 40px;
    padding-inline-start: 0;
    grid-template-columns: repeat(1, 1fr);
  }

  .main {
    margin: 30px;
    margin-left: 30px;
    margin-top: 200px;
    max-width: 750px;
  }

  .contactText {
    margin-left: 30px;
    margin-right: 30px;
  }
}




