body {
    margin: 30px;
    font-family: 'Syne', sans-serif;
}

a {
    text-decoration: none;
}

.main {
    margin: 50px;
    margin-left: 200px;
    margin-top: 180px;
    max-width: 1000px;
}

.footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#header {
    /* margin-bottom: 180px; */
}

.menu {
    display: inline-flex;
    float: right;
    position: absolute;
    top: 0;
    right: 20px;
}

.menu ul{
    list-style: none;
}

.menu li{
    display: inline-block;
    padding: 14px 16px;
    color: #1c8aff;
    font-size: 16px;
}

.menu a{
    color: #1c8aff;
    font-size: 16px;
    text-decoration: none;
}

.logo {
    display: inline-block;
    position: fixed;
    top: 20px;
}

.pagination {
    display: flex;
    justify-content: space-between;
}

.pagination span{
    color:  #999;
}

.projects {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    grid-column-gap: 1.5em;
    grid-row-gap:  3em;

}

.projects img {
    width: 100%;
    margin-bottom: 0.5em;
    transition: all 0.3s;
}

.projects img:hover {
    transform: scale(1.05);
    cursor: url('./pencil.cur'), auto;
}

.container {
    display: flex;
    align-items: center;
    gap: 10px;
}
