.aboutGallery {
    display: flex;
}

.aboutGallery ul{
    list-style: none;
}

.blogs {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    grid-column-gap: 1.5em;
    grid-row-gap:  3em;
}
